.contact{

}


.form-display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%; 
    height: 55vh;
    

}

.form-control {
    width: 100%; 
    display: flex; 
    justify-content: center
}

.form-field{
    color: #fff !important;
}

.field-label{
    color: #fff !important;
}

.field-input{
    color: #fff !important;
}