.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 0rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.greet-main {
  width: 80%;
  padding: 20px 10px;
  margin: 0px 400px;
  margin-top: 1rem;
  font-weight: 900;
}

.greet-main div {
  text-align: center;
}

.greet-h1 {
  font-size: 4rem;
}

.greet-h5 {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
  color: #b1acac;

}

.greet-h2 {
  font-size: 1.5rem;
  word-spacing: 2px;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 2rem;

}

/* Media Query */

@media (max-width: 768px) {
  .greet-main {
    width: 80vw;
    padding: 0 auto;
  }

  .greet-h1 {
    font-size: 2.5rem;
  }

  .greet-h2 {
    font-size: 1.2rem;
  }

  .greet-h5 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: #fefefe;
  }
}

@media (max-width: 562px) {
  .greet-h1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 480px) {
  .greet-main {
    width: 90vw;
    padding: 0 auto;
  }

  .greet-h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  .greet-main {
    width: 90vw;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
  }

  .greet-h1 {
    font-size: 1.5rem;
  }
  .greet-h5 {
    font-size: 1rem;
    opacity: 0.7;
  }
  .greet-h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    word-spacing: 0px;
    letter-spacing: 0px;
  }
}

.dark-mode {
  color: white !important;
}
