.dark-mode {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)),
    url("https://images.unsplash.com/photo-1632578730044-225f2736f38c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1471&q=80");
  background-size: cover;
  background-repeat: repeat;
}
